#aside DIV.side_ad { display: none; }
#lower_ads { display: none; }
#sponsoredlinks { display: none; }
#embed_ads{ display: none; }
#showads1 { display: inline; }
#showads2 { display: inline; }
#showads3 { display: inline; }
#showads4 { display: inline; }
#showads5 { display: inline; }
#showads6 { display: inline; }
#chikita_ads {display: none; }
#embed_ads_video {display: none; }
#rad_links_video {display: none; }
#rad_links {display:none;}
#side_ad1 {display:none;}
