#article H2 {
	background: url(http://pad1.whstatic.com/skins/WikiHow/images/sidebar_test.png) no-repeat !important;
	width: 963px !important;
}

.article_bottom {
	background: none !important;
}

#last_question {
	background: none !important;
}

