	/*Zero out everything for a clean slate*/
    * { margin: 0; padding: 0; }
    
    /*No default borders for images.  Who does that?*/
    IMG { border: 0; }
    
    A { 
        color: #018EAB; 
        text-decoration: none;
    }
	#article A:hover {
   	 text-decoration: underline;
   	 background-color: #FFA;
	}

    A:hover { text-decoration: underline; }
    
    A.reverse_link { text-decoration: underline; }
    A.reverse_link:hover { text-decoration: none; }

	
	BODY {
	    background: url(/skins/WikiHow/images/background.jpg) #F7F5F0 repeat;
	    font-family: Helvetica, Arial, sans-serif;
	    font-size: .75em; /*13pt*/
	    color: #414141;
	}
		
	UL { list-style: none; }
	
	
    /** HEADER - START **************************************/
	DIV#header {
	        background: url(/skins/WikiHow/images/header_bg.png) top left no-repeat;
	        width: 987px;
	        height: 123px;
	        margin: 0 auto;
	        font-weight: bold;
    	    color: #EFEDE8;
    	    z-index: 1;
    	    position: relative;
	    }
	    
	    #header DIV#logo {
	        float:left;
	        margin: 42px 0 0 20px;
	    }
        #logo P {
            margin: 1px 0 0 7px;
            font-size: 1.05em;
        }
	    
	    #header P#balloon {
	        background: url(/skins/WikiHow/images/balloon.png) no-repeat top left;
	        width: 295px;
	        height: 62px;
	        margin-left: 205px;
	        color: #4A3C31;
	        text-align: center;
	        line-height: 1.3em;
	        padding-top: 5px;
	        position: absolute;
	    }
	    
	    .search_box {
	        width: 260px;
	        font-size: 1em;
	        border: 4px solid #8E8985;
	        background: url(/skins/WikiHow/images/sherlock.gif) #FFF center left no-repeat;
	        padding: 2px 2px 2px 20px;
	        margin-left: 5px;
	    }
	
	    .login {
	        font-size: 1.25em;
	        font-weight: bold;
	    }
	    .login A { color: #EFEDE8; }
    /** HEADER - END **************************************/
    
    
    DIV#message_box {
            background-color: #FFFED7;
            width: 920px;
            margin: -6px auto 0 auto;
            padding: 10px;
            border: 1px solid #BBB;
            border-top: none;
            font-weight: bold;
			overflow: hidden;
        }
    
        #message_box P.little_header { font-size: .8em; padding-bottom: 2px; }
    
	    
	    
	DIV#main {
        width: 987px;
        margin: 0 auto;
        clear: left;
	}
	    
    DIV#upper_tabs {
            margin: 15px 0 0 20px; 
            height: 31px;
            text-align: center;
            line-height: 31px;
            font-weight: bold;
        }
        
        #upper_tabs A {
            color: #CCC;
            font-weight: bold;
            width: 108px;
            height: 31px;
            background-image: url(/skins/WikiHow/images/nav_tab.png);
            float: left;
        }
        #upper_tabs A.on { 
            background-image: url(/skins/WikiHow/images/nav_tab_on.png);
            color: #FFF;
        }
        #upper_tabs A:hover { text-decoration: none; color: #FFF; }


	
    /** ARTICLE - START **************************************/ 
	DIV#article_shell{
        width: 683px;
        margin: 0 308px -1px 0;
        float: left;
    }
	
	DIV#article {
        background: url(/skins/WikiHow/images/article_bg.png) repeat-y;
        padding: 2px 28px 30px 28px;
        margin-top: -3px;
    } 
	    #article P {
	        padding-bottom: .6em;
	        line-height: 1.35em;
	    }
	    
	    #article UL#breadcrumb LI {
	        display: inline;
	        font-size: .9em;
	    }
	    #article UL#breadcrumb LI A { color: #8E8985; }
	    
	    #article H1 {
	        font-size: 2.4em;
	        font-weight: normal;
	        padding: 8px 0 4px 0;
	        color: #4A3C31;
	    }
	    #article H1 a {
			text-decoration: none;
	        color: #4A3C31;
		}
	    
	    #article P#originators {
	        font-size: .9em;
	        margin: 0;
	    }
	    
	    #article P#originators SPAN { 
	        color: #018EAB; 
	        padding-left: 3px; 
	    }
#article DIV#embed_this {
        color: #C8C8C8;
        font-weight: bold;
        margin-top: 20px;
    }
   
    #article DIV#embed_this SPAN {
        font-size: 1.2em;
        margin-right: .2em;
    } 
    	    
        #article DIV#article_tabs {
                height: 30px;
                text-align: center;
                line-height: 30px;
                margin: 10px 0 0 0;
            }
            
            #article_tabs A {
                width: 82px;
                height: 30px;
                background-image: url(/skins/WikiHow/images/article_tab_bg.gif);
                border: none;
                border-top: 1px solid #FFF;
                float: left;
                margin-right: 6px;
                padding: 0;
                font-weight: bold;
                font-size: .95em;
                color: #999; 
            }            
            #article_tabs A:hover { 
                text-decoration: none;
                color: #339BB2;
            }
                        
            #article_tabs A.on { 
                background-image: url(/skins/WikiHow/images/article_tab_bg_on.gif); 
                border: 1px solid #D4D4D4;
                border-bottom: none;
                color: #4A3C31;
            }	 

            #article_tabs .tab_pencil {
                display: block;
                margin-top: 10px;
                margin-bottom: -20px;
                margin-left: 17px;
            }

            
        #article DIV#article_tabs_line {
            border-top: 1px solid #C2C2C2;
            padding-bottom: 1em;
        }
        
	    
	    
	    #article .main_image {
	         float: left;
	         margin: 0 10px 10px 0;
	    }
	    
	    #article H2 {
	        color: #4A3C31;
	        font-size: 1.5em;
	        background: url(/skins/WikiHow/images/section_head_bg.png) top left no-repeat;
	        margin: 0 0 10px -40px;
	        padding-top: 0;
	        padding-left: 40px;
	        line-height: 42px;
	        height: 53px;
	        width: 647px;
	        clear: both;
	    }
    	    
	    /* thumbnails */
        #article P.thumb {
	            width: auto;
	            font-size: .6em;
	            margin-bottom: .5em;
            }

            .thumb A.magnify { float: right; }

            P.tright {
	            clear: right;
	            float: right;
	            padding-left: 1em;
            }
            P.tleft {
	            float: left;
	            clear: left;
	            padding-right: 1em;
            }

	        
  #steps OL#steps_list {
        list-style-position: inside;
        color: #4A3C31;
        padding-bottom: 0;
    }
   
    #steps OL#steps_list LI {
        background: url(/skins/WikiHow/images/steps.jpg) top left no-repeat;
        font-size: 1.5em;
        border-bottom: 1px dashed #4A3C31;
        margin: 15px 0 0 0;
        padding: .55em 0 10px 15px;
    }
   
    #steps OL#steps_list LI DIV.list_body {
        font-size: .7em;
        padding-left: 50px;
        position: relative;
        top: -2.1em;
        color: #333;
    }
    #steps OL#steps_list LI B { color: #4A3C31; }
    #steps OL#steps_list LI P { margin: 0; }
   

#steps DIV#no_last_line {
    border-top: 1px solid #FFF;
    margin-top: -1px;
}         

#steps OL#steps_list LI LI {
    background: none;
    font-size: 1em;
    border: none;
    margin: 0;
    padding: 0;
}

#steps OL#steps_list LI LI DIV.list_body {
    font-size: 1em;
    padding: 0;
    position: static;
    top: 0;
    color: #333;
}

#steps OL#steps_list UL { list-style: disc outside none; }
	    
    #article DIV#related_articles UL {
            padding-bottom: 2.5em;
            list-style: disc;
            margin-left: 25px;
        }
        #article DIV#related_articles LI {
            font-weight: bold;
            padding-bottom: .8em;
        } 
	   
#article DIV#article_info {
    font-weight: bold;
    color: #414141;
    padding-bottom: 2.5em;
}
 
#article DIV#share_icons DIV {
        float: left;
        font-weight: bold;
        margin: 3px 3px 20px 0;
        color: #018EAB;
    }
    #share_icons A {
        background: url(/skins/WikiHow/images/share_icons.png) no-repeat left top;
        width: 15px;
        height: 18px;
        display: block;
        float: left;
        margin-left: 7px;
    }           
    #share_icons #share_stumbleupon { background-position: -15px 0; }
    #share_icons #share_facebook { background-position: -30px 0; }
    #share_icons #share_blogger { background-position: -45px 0; width: 17px; }
    #share_icons #share_digg { background-position: -61px 0; width: 18px; }
    #share_icons #share_google { background-position: -78px 0; width: 17px; }
    #share_icons #share_delicious { background-position: right 0; width: 14px; }   
	    #article UL#end_options LI {
	            display: inline;
	            padding-left: 15px;
	            margin-right: 21px;
	            font-weight: bold;
	        }
	        
	        UL#end_options LI#endop_discuss { background: url(/skins/WikiHow/images/endop_discuss.gif) center left no-repeat; }
	        UL#end_options LI#endop_print { background: url(/skins/WikiHow/images/endop_print.gif) center left no-repeat; }
	        UL#end_options LI#endop_embed { background: url(/skins/WikiHow/images/endop_embed.gif) center left no-repeat; }
	        UL#end_options LI#endop_email { background: url(/skins/WikiHow/images/endop_email.gif) center left no-repeat; }
	        UL#end_options LI#endop_watch { background: url(/skins/WikiHow/images/endop_watch.gif) center left no-repeat; padding-left: 18px; }
	        UL#end_options LI#endop_edit { background: url(/skins/WikiHow/images/endop_edit.gif) center left no-repeat; }
	        UL#end_options LI#endop_fanmail { background: url(/skins/WikiHow/images/endop_fanmail.gif) center left no-repeat; }
	    
    
    DIV#last_question {
            clear: both; 
            background: url(/skins/WikiHow/images/article_bottom_bg.png) repeat-y;
            text-align: center;
            color: #414141;
        }
        #last_question P#article_line {
                border-top: 3px solid #D4CFC2;
                margin-left: 8px;
        }
        
        #last_question P { padding-bottom: 25px; }

   
P#feature_star {
    color: #309DB7;
    font-weight: bold;
    float: right;
    margin: 16px 8px 0 0;
} 
    P#feature_star IMG { padding: 0 3px; margin-bottom: -1px; }

    DIV.google_article_ad {
            text-align: right;
            width: 525px;
            margin: 15px auto;
            font-size: 1.1em;
        }
        .google_article_ad TABLE {
            width: 100%;
            text-align: left;
        }
        	        
	    
    /** ARTICLE - END **************************************/ 	
	
	    
	
    /** SIDEBAR - START **************************************/    
	DIV#sidebar {
	        width: 296px;
	        float: left;
	        margin-left: -300px;
	        margin-top: -40px;
	        color: #7F7F7F;
	    }
	    
	    #sidebar DIV#top_links {
	        width: 250px;
	        margin: 0 auto;
	        font-size: 1.1em;
	        line-height: 35px;
	        text-align: right;
	    }
	    
	    #sidebar DIV.sidebox {
	            background: url(/skins/WikiHow/images/sidebar_bg.png) repeat-y;
        margin: -3px 0 0 0;
        padding: 6px 18px;
	        }	   
	    
	    #sidebar H3 {
	        font-size: 1.1em;
	        color: #443D37;
	        padding-bottom: 3px;
			 border-bottom: 3px solid #BDB7A7;
	    }
	    
	    #sidebar UL {
	            margin: 10px auto 8px auto;
				font-size: .9em;
	        }
    	    
	        #sidebar UL LI {
	            border-bottom: 1px solid #D6D5CE;
	            padding: 4px 6px;
	        }
	        
	        
	       
			#sidebar DIV#side_nav, DIV#side_nav_top { 
	            background: url(/skins/WikiHow/images/sidebarfade_bg.png) repeat-y;
	            padding: 6px 18px;
	            color: #FBF4D1;
	        }

			#sidebar DIV#side_nav { margin-top: -4px; }
	        
	       #sidebar DIV#side_nav_top { 
    			background: url(/skins/WikiHow/images/sidebarfade_top.png) no-repeat top;
    			padding-bottom: 0;
    			height: 45px;
			} 
			 #side_nav H3, #side_nav_top H3 { margin-top: 15px; }
 
	        #side_nav UL LI {
	            list-style: none;
	            border: none;
	            margin-left: 10px;
	            padding-left: 0;
	            color: #018EAB;
	        }
			#sidebar #side_nav UL LI A { color: #018EAB; }
	       
			#side_nav H3 A, #side_nav_top H3 A { 
    	        float: right;
    	        font-size: .75em;
	        }    
	        
	    #sidebar DIV.sideboxline {
            background: url(/skins/WikiHow/images/sidebarline_bg.png) repeat-y;
            margin: -3px 0 0 0;
            padding: 6px 18px;
        }
        #sidebar .sideboxline H3 { border: none; }
	        
	        
	    #sidebar DIV.sidebrownline {
            background: url(/skins/WikiHow/images/sidebrownline_bg.png) repeat-y;
            margin: -3px 0 0 0;
            padding: 18px 18px 0px 30px;
            font-size: 1.1em;
            color: #FBF4D1;
            font-weight: bold;
            
        }
	    #sidebar DIV.sidebrownline A { color: #FBF4D1; }
	    #sidebar DIV.sidebrownline P { height: 50px; line-height: 30px; }
		DIV#side_related_articles UL { font-size: 1em; }
	    
DIV#side_related_videos TABLE {
        margin: 10px auto 0 auto;
    }           
    #side_related_videos TD {
        padding: 5px;
        text-align: center;
        width: 50%;
    }           
    #side_related_videos .rounders2 { margin: 0 auto 4px auto; } 
   
    #side_related_videos #side_related_videos_more {
        font-weight: bold;
        text-align: center;
        font-size: 1.1em;
      margin-top: 10px;
    }
    #side_related_videos #side_related_videos_arrow {
        margin: 0 0 -3px 3px;
    }
 
	    
	    DIV#side_ads_by_google P {
	        margin: 10px 20px;
	    }
	    DIV#side_ads_by_google P.bottom_link {
	        margin: 0 0 -18px 10px;
	        position: relative;
	    }
	    
    DIV#side_featured_articles TABLE {
            margin-top: 4px;
        }

        #side_featured_articles TD {
            border-bottom: 1px solid #D6D5CE;
            padding: 2px;
        }
 
	    DIV#side_featured_articles LI IMG {
	        float: left;
	        padding-right: 8px;
	    }
	        
	    DIV#side_recent_changes DIV {
	            padding: 7px 10px;
				font-size: .95em;
	        }
	        
	        
	        #side_recent_changes P.bottom_link {
	            font-size: 1.2em;
	            text-align: center;
	            font-weight: bold;
	            margin: 10px 0 -18px 0;
	            position: relative;
	            border-top: 2px solid #BDB7A7;
	            padding-top: 10px;
	        }

#side_recent_changes #play_pause_button {
    position: absolute;
    background: url(/skins/WikiHow/images/play_pause.png) no-repeat left top;
    width: 26px;
    height: 26px;
    margin: -5px 0 0 20px;
}
#side_recent_changes #play_pause_button.play { background-position: 0 -78px; }

UL#social_box LI {
        line-height: 30px;
        border: none;
        padding-left: 60px;
        margin: 0 0 10px 10px;
        font-size: 1.1em;
        font-weight: bold;
    }
        #social_box LI A { color: #443D37; }

        #social_box LI#social_fb { background: url(/skins/WikiHow/images/facebooks.gif) no-repeat 12px top; }
        #social_box LI#social_tw { background: url(/skins/WikiHow/images/twitbird.png) no-repeat left top; }
 
    /** SIDEBAR - END **************************************/
	    
	    
    /** FOOTER - START **************************************/	    
	DIV#footer_top {
        clear: left;
	    background: url(/skins/WikiHow/images/footer_top.png) bottom left repeat-x;
	    height: 8px;
	    padding-top: 50px;
	}
	    
	DIV#footer_shell {
        background-color: #443D37;
    }
    
    DIV#footer {
            width: 987px;
            margin: 0 auto;
            color: #C1B8B3;
            padding: 20px 0 20px 0;
        }
        
        #footer A { color: #C1B8B3; }
        
        #footer DIV#footer_side {
            width: 300px;
            float: left;
        }
        
        #footer_side UL { 
				width: 193px;
                margin: 15px 0;
            }
            
            #footer_side LI {
                font-size: .9em;
                border-top: 1px solid #8E8985;
                padding: 7px;            
            }
            #footer_side LI.top { border-top: none; }
        
        
        #footer DIV#footer_main {
                font-size: 1em;
                width: 660px;
                margin-left: 325px;
                clear: right;
            }
        
            #footer_main H3 {
                border-bottom: 1px solid #8E8985;
                margin-top: 25px;
                padding-bottom: 4px;
            }
            
            #footer_main .search_box {
                width: 350px;
                font-size: 1.2em;
            }
            
            #footer_main UL {
                    font-size: .9em;
                    margin: 10px 0;                    
                }
            
                #footer_main UL LI {
                    padding: 4px 0;
                    float: left;
                    width: 210px;
                }
            
                 #footer_main .footer_search_submit {
                border: none;
                color: #C1B8B3;
                background-color: #443D37;
                font-weight: bold;
                font-size: .9em;
                letter-spacing: .1em;
                cursor: pointer;
            } 
        
        #footer DIV#sub_footer {
                font-size: .7em;
                border-top: 1px solid #8E8985;
                padding: 15px 50px 10px 55px;
                clear: left;
                margin-top: 25px;
            }
            
            #sub_footer P {
                float: left;
                width: 33%;
            }
    /** FOOTER - END **************************************/            
    
    
    /** BUTTONS - START ***********************************/
A.button {
    display: block;
    font-weight: bold;
    text-align: center;
    color: #FFF;
    letter-spacing: .01em;
    overflow: hidden;
}
    A.button:hover {
   	 background-color: #FFF;
 	text-decoration: none; 
	}
    
    A.button137 {
        width: 137px;
        height: 38px;
        background: url(/skins/WikiHow/images/button137.png) top left no-repeat;
        line-height: 34px;
    }
    
    A.button50 {
        width: 50px;
        height: 22px;
        background: url(/skins/WikiHow/images/button50.png) top left no-repeat;
        line-height: 22px;  
    }
    
    /* GO button */
    A.button_square {
        width: 30px;
        height: 29px;
        background: url(/skins/WikiHow/images/button_square.png) top left no-repeat;
        line-height: 27px;
    }
    
    /* edit button on the step headers */
    #article H2 A.button50 { 
        margin: 10px 13px 0 0; 
        font-size: .65em; 
        float: right;
    }
        
    
#article A.edit_article_button {
    font-size: 1em;
    background: url(/skins/WikiHow/images/button_edit.png) top left no-repeat;
    width: 69px;
    height: 28px;
    line-height: 27px;
    padding-left: 4px;
    float: right;
    margin-right: -22px;
}
 
    A.white_button {
        background: url(/skins/WikiHow/images/button_white68.png) top left no-repeat;
        width: 68px;
        height: 30px;
        line-height: 27px;
        font-size: 1.1em;
        color: #018EAB;
        margin: 0 10px;
    }         
    A.white_button:hover { color: #339BB2; }
    A#arrow_left, A#arrow_right {
        background: url(/skins/WikiHow/images/arrows.png) top left no-repeat;
        width: 26px;
        height: 26px;
    }   
    A#arrow_right { background-position: -26px 0; }

 
    /** BUTTONS - END *************************************/
    
    .clearall {
        clear: both;
        height: 0;
        line-height: 0;
        font-size: px /*for IE*/
    }

/** ROUNDED CORNERS [IMAGE] - START **********************************/
.rounders {
    position: relative;
    margin-bottom: .8em;
 }

.corner {
    position: absolute; 
    width: 10px; 
    height: 10px;
    background-image: url(/skins/WikiHow/images/corners.gif);
 }

.top_left {top:0; left:0; background-position:-10px -10px;}
.top_right {top:0; right:0; background-position:-20px -10px;}
.bottom_left {bottom:0; left:0; background-position:-10px -20px;}
.bottom_right {bottom:0; right:0; background-position:-20px -20px;}
/** ROUNDED CORNERS [IMAGE] - END *************************************/
    
    .rounded_corners {
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    
    .tan { background-color: #E2DDD1; }
 
    .rounders2 {
        background-color:#C4CDE0;
        display:block;
        overflow:hidden;
        position:relative;
    }
    .rounders2_sprite { position:absolute; }
       

.rounders2_xl, .rounders2_xl .rounders2_img {
    width: 120px;
    height: 80px;
}
.rounders2_lg, .rounders2_lg .rounders2_img {
    width: 102px;
    height: 68px;
}
.rounders2_ml, .rounders2_ml .rounders2_img {
    width: 88px;
    height: 68px;
}
.rounders2_md, .rounders2_md .rounders2_img {
    width: 66px;
    height: 51px;
}
.rounders2_sm, .rounders2_sm .rounders2_img {
    width: 42px;
    height: 28px;
}    

/*x-axis*/
.rounders2_xl .rounders2_sprite { left:0; }
.rounders2_lg .rounders2_sprite { left:-120px; }
.rounders2_ml .rounders2_sprite { left:-222px; }
.rounders2_md .rounders2_sprite { left:-310px; }
.rounders2_sm .rounders2_sprite { left:-376px; }
    /*y-axis*/
    .rounders2_white .rounders2_sprite { top:0; }
    .rounders2_tan .rounders2_sprite { top:-80px; }
   

	/* thumbnails */
div.thumb {
	margin-bottom: .5em;
	border-style: solid;
	border-color: white;
	width: auto;
}
div.thumbinner, div.gallerybox {
	border: 1px solid #ccc;
	padding: 3px !important;
	background-color: #f9f9f9;
	font-size: 94%;
	text-align: center;
	overflow: hidden;
}
div.gallerybox { margin-right: 10px; }
div.gallerybox div.thumb { border-color: #f9f9f9; }
html .thumbimage {
	border: 1px solid #ccc;
}
html .thumbcaption {
	border: none;
	text-align: left;
	line-height: 1.4em;
	padding: 3px !important;
	font-size: 94%;
}
div.magnify {
	float: right;
	border: none !important;
	background: none !important;
}
div.magnify a, div.magnify img {
	display: block;
	border: none !important;
	background: none !important;
}

DIV#main P.L, DIV#main .floatleft { float: left; margin: 0 1.5em 1em 0; }
DIV#main P.R, DIV#main .floatright { float: right; margin: 0 0 1em 1.5em; }
DIV#main .floatright A:hover { background-color: transparent; }
DIV#main .floatleft A:hover { background-color: transparent; }
DIV.thumbinner A.internal:hover { background-color: transparent; }

div.tright {
	clear: right;
	float: right;
	border-width: .5em 0 .8em 1.4em;
}
div.tleft {
	float: left;
	clear: left;
	margin-right: .5em;
	border-width: .5em 1.4em .8em 0;
}

table.related_vids_display td {
	vertical-align: top;
}

DIV.de {
    border: 1px solid #CED1FF;
    margin: 15px 0;
}
DIV.de P { padding: 5px; }
DIV.de_header { background-color: #EEE; }

DIV.de_reply {
   font-size: .8em;
   background-color: #EEE;
   padding: 2px;
   text-align: center;
   clear: both;
}
p.de_date {
        font-size: smaller;
}
p.de_date {
    float: right;
}
p.de_user {
        font-weight: bold;
}
p.de_comment {
}
.de_comment OL { list-style-position: inside; }
#discussion_entry {
        border: 1px solid #CED1FF;
        padding: 5px;
        margin-bottom:5px
}



.not-patrolled {
    background-color: #ffa;
}   
div.patrollink {
    font-size: 75%;
    text-align: right;
}   
span.newpage, span.minor, span.searchmatch, span.bot {
    font-weight: bold;
}
span.unpatrolled {
    font-weight: bold;
    color: red;
}

UL.special {
list-style: default;
}

DIV#main DIV#article SPAN.subheader {
        color: #555;
        font-weight: normal;
        letter-spacing: normal;
        margin-left: 5px;
    }
        
    #article H2 SPAN.subheader { font-size: 65%; }
    #article H3 SPAN.subheader { font-size: 70%; }


    .show {}
    .hide{display:none;}

DIV#main DIV#editpage DIV#optional_sections LI {
    display: inline;
    list-style: none;
    margin-right:5px;
}

input.guided-button { 
    font-weight: bold;
    font-size: 1.2em;
}

/*  
** Diff rendering
*/
table.diff, td.diff-otitle, td.diff-ntitle {
    background-color: white;
    vertical-align: top;
}
td.diff-addedline {
    background: #cfc;
    font-size: smaller;
}
td.diff-deletedline {
    background: #ffa;
    font-size: smaller;
}       
td.diff-context {
    background: #eee;
    font-size: smaller;
}
span.diffchange {
    color: red;
    font-weight: bold;
}

#featurestar {
  float: right;
  margin-top: -42px;
  margin-right: -13px;
}

DIV#main DIV#article DIV#Related SELECT#related_select { width: 80%; }

    #relatedwikihows DIV#related_buttons {
        float: right;
        width: 18%;
    }

    #relatedwikihows DIV#related_buttons INPUT { margin-bottom: 3px; }
   

    #related_select {
        width: 500px;
        margin-bottom:5px;
    }


A.new { color: #B30000; }

    .go_button {
        width: 30px;
        height: 29px;
        background: url(/skins/WikiHow/images/button_square.png) top left no-repeat;
        color: #FFF;
        letter-spacing: .01em;
        border: none;
        font-size: .9em;
        font-weight: bold;
        padding-bottom: 2px;
        margin-left: 6px;
        float: right;
        cursor: pointer;
    }

