/*GLOBAL*/
body {
	background-image: url('/skins/WikiHow/images/redesign/background.jpg');
	font-family: Georgia;
	font-size: 0.9em;
}

DIV#main{
	width:1008px;
}

DIV#footer_shell {
    background: url('/skins/WikiHow/images/redesign/footer.jpg') repeat-x;
    margin-top: 50px;
	height:212px;
}

DIV#article_shell{
	width:694px;
}

DIV#article{
	background-color: #f9f9f9;
	border:1px solid #d2d8cd;
	background-image: none;
	padding:0;
}

#article DIV.article_inner, #steps, #video{
	background-color:#ffffff;
	border-right:1px solid #d2d8cd;
	border-bottom: 1px solid #d2d8cd;
	margin-right:6px;
}

#article DIV.article_inner, #article #steps P, #article #steps UL{
	background-color:#ffffff
	margin-top:6px;
	margin-right:6px;
}

#article #steps UL{
	background-color:#ffffff;
	margin-top:6px;
	margin-right:6px;
}

#article h2{
	background: url('/skins/WikiHow/images/redesign/corner.png') #ffffff no-repeat top right;
	margin:6px 6px 0 0;
	padding:0;
	width:auto;
	line-height:84px;
	font-size:42px;
	color:#333333;
	padding-left:28px;
	height:70px;
}

#article OL.steps_list_2{
	margin-top:-10px;
}

#article OL.steps_list_2 LI{
	border-bottom: 1px dotted #d7d4ce;
	padding:20px 50px 20px 80px;
	overflow:hidden; /* for IE7 */
}

#article OL.steps_list_2 LI DIV.step_num{
	color: #30b4cb;
	background-image: none;
	font-size: 40px;
	position:absolute;
	float:none;
	left:22px;
	margin-left: 0;
	line-height: inherit;
}

DIV#header{
	margin:0 0 -8px 0;
	width:100%;
	color:#cde3bc;
	height:31px;
	position:relative;
	z-index: 2;
}

DIV#header #header2{
	background: url('/skins/WikiHow/images/redesign/header.jpg') repeat-x;
	position:fixed;
	width:100%;
}

#rolling_logo{
	background: url('/skins/WikiHow/images/redesign/logo_small.png') no-repeat 0px 2px;
	color: #FFFFFF;
    float: left;
    font-size: 19px;
    line-height: 31px;
    padding-left: 25px;
	margin-left:10px;
}

#header_rolling{
	width:993px;
	margin:0 auto -8px auto;
	z-index: 1;
	padding-top:30px;
	z-index: 1;
	position:relative;
}

#header #login a{
	color:#ffffff;
}

#header #login {
	margin:10px 3px 0 0
}

#header_inner{
	width:989px;
	margin:0 auto;
}

#header_rolling DIV#logo{
	float:left;
	margin:0 0 -8px -10px;
}

#header DIV#logo img{
	margin-top:54px;
}

#article a, #sidebar #side_nav UL LI A{
	color:#669900;
}

a.editsection {
	font-size:12px;
	font-weight: bold;
}

#article H2 A.button52{
	background:none;
	font-size: 12px;
	color: #a1b776;
	margin: 24px 5px 0 0;
}

.sidebox_shell{
	background: none #f9f9f9;
	border:1px solid #d2d8cd;
}

#sidebar DIV.sidebox{
	background:none;
	padding:6px 18px 12px 18px;
}

#sidebar H3{
	color:#577142;
	font-size:18px;
	border-bottom: none;
}

#randomizer{
	background: url('/skins/WikiHow/images/redesign/random.jpg') no-repeat #f9f9f9;
	height:43px;
	font-size: 21px;
	line-height: 43px;
	padding-left:60px;
	margin-top:0;
}

#follow_table td a div{
	background-image: url('/skins/WikiHow/images/redesign/follow-sprite.png');
	height:44px;
	width:44px;
}

#follow_table{
	margin-left:-4px;
}

#article #tips li{
	background: url('/skins/WikiHow/images/redesign/idea.jpg') no-repeat top left;
	list-style: none;
	padding:0 0 20px 22px;
}

#article #warnings li{
	background: url('/skins/WikiHow/images/redesign/warning.jpg') no-repeat top left;
	list-style: none;
	padding:0 0 20px 30px;
}

#article .article_inner h3, #article #steps h3{
	background: #e8ebe5;
	font-size: 26px;
	color:#305015;
	padding-left:30px;
	padding-right:0px;
	width:640px;
	line-height:61px;
	height:auto;
	margin-top:-10px;
}

#article .article_inner h3{
	margin-left:-23px;
}

#article #steps h3{
	margin-left:0;
}

#article OL.steps_list_2 LI UL LI{
	background: url('/skins/WikiHow/images/redesign/arrow.jpg') #ffffff no-repeat top left;
	list-style: none;
	padding: 0 0 20px 30px;
}

#article center{
	margin-top:0;
}

#article #video .article_inner{
	border-right:0;
	border-bottom: 0;
}

#article_header{
	margin:6px 6px 0 0;
	background-color: #FFFFFF;
    border-right: 1px solid #D2D8CD;
	border-top: 1px solid #D2D8CD;
	padding:0 27px 20px 23px;
	
}

.like_button{
	float:left;
	margin-top:0;
	margin-bottom:0;
}

#pinterest{
	float:left;
	margin-top:0;
	margin-bottom:0;
}

.gplus1_button{
	float:left;
	margin-top:0;
	margin-bottom:0;
}

#featurestar{
	display:none;
}

#article H1.firstHeading A{
	font-size:45px;
	color:#333333;
}

#sidebar a{
	color:#669900;
}

#footer DIV#footer_side{
	width:500px;
}

#footer_side UL{
	width:400px;
}

#footer_side UL li{
	border-top:none;
	border-left:1px solid #becec9;
	float:left;
	padding:0 6px 0 6px;
}

#footer_side LI.top{
	border-left:none;
}

#footer a{
	color:#fdfdfd;
}

#footer DIV#sub_footer{
	float:right;
	border-top:none;
}

#sub_footer div{
	float:none;
}

#footer_main{
	margin-top:30px;
}

#footer_main .search_box, #header_rolling .search_box{
	background: url('/skins/WikiHow/images/redesign/search_footer.png') no-repeat;
	width:301px;
	height:33px;
	border:none;
	padding-left:100px;
	color:#658e47;
	padding-bottom: 3px;
	font-size:16px;
}

#header_rolling .search_box{
	float:right;
}

.search_button{
	background:url('/skins/WikiHow/images/redesign/button_green.png') no-repeat;
	width:76px;
	height:36px;
	padding: 0;
	font-size:13px;
}

.search_button:hover{
	background-position: 0 -40px;
}

#header_rolling .search_button{
	float:right;
}

DIV#last_question{
	background:none;
	font-weight:normal;
	padding-top:20px;
}

#last_question p{
	font-size:20px;
	color:#333333;
	line-height:40px;
	padding-bottom:30px;
}

#last_question p span{
	font-size:40px;
}

#page_rating p{
	font-size:16px;
	line-height: inherit;
}

#article_tools_header h2{
	background: none;
	background-color: #ffffff;
	border-top: 1px solid #D2D8CD;
	border-right:1px solid #D2D8CD;
}

.corner{
	background: url('/skins/WikiHow/images/redesign/corners.jpg') no-repeat;
	width:21px;
	height:15px;
}

#a_tabs{
	margin-left:27px;
	margin-top:-2px;
	padding-top:14px;
	background: url('/skins/WikiHow/images/redesign/tab.jpg') no-repeat;
	font-size: 16px;
}

#a_tabs .on{
	color:#305015;
	font-weight:bold;
}

#a_tabs a{
	color:#669900;
	padding-right:5px;
}

.check{
	background: url('/skins/WikiHow/images/redesign/check.png') no-repeat top right;
	height: 40px;
    position: absolute;
    right: -5px;
    width: 52px;
	z-index: 2;
}

.check div{
	padding:9px 0 0 14px;
	display:none;
}

#article UL, #article OL{
	margin:0;
}

.kiwi_tab{
	background: url('/skins/WikiHow/images/redesign/kiwi_tab.jpg') no-repeat top right;
	height: 61px;
    position: absolute;
    right: 10px;
    top: 0;
    width: 52px;
}

#article h2.non_edit{
	background:none #ffffff;
	border-top:1px solid #D2D8CD;
	border-right:1px solid #D2D8CD;
}

#article UL#end_options LI{
	background-image: url('/skins/WikiHow/images/redesign/tools.jpg');
	padding-top:30px;
	margin-right:20px;
	width:30px;
	clear:none;
	display:block;
	float:left;
	padding-left:0;
	width:40px;
}

#end_options li a{
	padding-top:20px;
}

UL#end_options LI#endop_discuss{
	background-position: 0 0;
}

UL#end_options LI#endop_edit{
	background-position: 0 -50px;
}

UL#end_options LI#endop_email{
	background-position: 0 -100px;
}

UL#end_options LI#endop_print{
	background-position: 0 -150px;
	width:78px;
}

UL#end_options LI#endop_fanmail{
	background-position: 0 -200px;
	width: 150px;
}

#article UL#end_options{
	height:50px;
}

#article DIV#embed_this{
	padding-top: 0;
}

#share_icons{
	margin-top:20px;
}

/* need .mwimg for IE7 selection */
.mwimg .top_left{
	background: url('/skins/WikiHow/images/redesign/top_left.png') top left no-repeat;
	top:-4px;
	left:-1px;
}

.mwimg .top_right{
	background: url('/skins/WikiHow/images/redesign/top_right.png') top right no-repeat;
	top:-2px;
	right:0px;
}

.mwimg .bottom_left{
	background: url('/skins/WikiHow/images/redesign/bottom_left.png') bottom left no-repeat;
	bottom:0px;
	left:0px;
}

.mwimg .bottom_right{
	background: url('/skins/WikiHow/images/redesign/bottom_right.png') right bottom no-repeat;
	bottom:-4px;
	right:-2px;
	width:127px;
	height:20px;
}

#header_rolling form{
	clear:both;
	float:right;
	margin-top:5px;
	width:500px;
}

#header_inner form div .search_box{
	background:url('/skins/WikiHow/images/redesign/search_header.png') no-repeat;
	width:993px;
}

#article a.white_button{
	background: url('/skins/WikiHow/images/redesign/button.gif') no-repeat;
	color:#305015;
	width:51px;
	height: 31px;
	font-weight: normal;
	line-height: 31px;
}

.whb{
	font-size:20px;
	line-height:20px;
}

.mwimg .top{
	background: url('/skins/WikiHow/images/redesign/top.gif') repeat-x;
	padding-top:9px;
}

.bottom{
	background: url('/skins/WikiHow/images/redesign/bottom.gif') repeat-x bottom left;
	padding-bottom:10px;
}

.left{
	background: url('/skins/WikiHow/images/redesign/left.gif') repeat-y;
	padding-left:11px;
}

.right{
	background: url('/skins/WikiHow/images/redesign/right.gif') repeat-y top right;
	padding-right: 10px;
}

.side_ad{
	padding-left:2px;
}

DIV#sidebar{
	width:302px;
	margin-left: -294px;
}

.sidebar_bottom_fold, .sidebar_top{
	display:none;
}

#side_featured_articles TD, #side_new_articles TD, #side_related_articles TD{
	border-bottom:none;
}

.wikihow_watermark{
	position:absolute;
	bottom:12px;
	right:10px;
}

#article P#originators{
	padding-bottom:0;
}

#footer DIV#footer_main{
	width:500px;
}

DIV#footer{
	padding-bottom: 0px;
}