#newmethodcontainer {
	width: 100%;
}
#altmethod{
	width:98%;
	padding:5px;
	font-size:14px;
}

#altsteps{
	width:98%; 
	height:100px;
	padding:5px;
	font-size: 14px;
	margin-bottom:15px;
}

#altsteps.inactive, #altmethod.inactive{
	color:#999999;
}

#altsteps.active, #altmethod.active{
	color:#414141;
}

.method_bubble {
	clear: both;
	position: absolute;
	width: 400px;
	padding: 10px 20px 10px 10px;
	margin: 1em 0 3em;
	border: 2px solid #dbd6c0;
	color: #333;
	background: #fdfbde;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-size: 17px;
}

.method_bubble:before {
	content: "";
	position: absolute;
	bottom: -21px;
	right: 46px;
	border-width: 21px 8px 0;
	border-style: solid;
	border-color: #dbd6c0 transparent;
	display: block;
	width: 0;
}

.method_bubble:after {
	content: "";
	position: absolute;
	bottom: -18px;
	right: 49px;
	border-width: 19px 5px 0;
	border-style: solid;
	border-color: #fdfbde transparent;
	display: block;
	width: 0;
}
.method_bubble_outer {
	position: absolute;
	bottom: 326px;
	left: 220px;
}
.method_x {
	font-weight: bold;
	position: absolute;
	right: 10px;
	top: 5px;
}

.method_x:hover {
	text-decoration: none;
	cursor: hand;
	cursor: pointer;
}

#altheader {
	font-size: 16px;
	color: #222;
	line-height: 18px;
}

.altadder_section {
	padding: 27px 27px 67px 27px;
}

#addalt {
	float: right;
	margin-right: 0px;
}
