.ui-autocomplete-loading { 
	background: white url('/skins/WikiHow/images/csui_working.gif') right center no-repeat; 
} 

ul.ui-corner-all {
	-moz-border-radius-topleft: 0px 0px;
	-moz-border-radius-topright: 0px 0px;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-top-left-radius: 0px 0px;
	-webkit-border-top-right-radius: 0px 0px;
	-webkit-border-bottom-right-radius: 8px 8px;
	-webkit-border-bottom-left-radius: 8px 8px;
	border-top-left-radius: 0px 0px;
	border-top-right-radius: 0px 0px;
	border-bottom-right-radius: 8px 8px;
	border-bottom-left-radius: 8px 8px;
}

.csui_hidden {
	display: none;
	visibility: hidden;
}

.csui_nodisplay {
	display: none;
}

#csui_interests {
	margin-top: 5px;
	width: 295px;
	height: 17px;
	padding-left: 3px;
}

.csui_category {
	background: #FCFBF4;
	border: 1px #BDB7A7 solid;
	color: #504239;
	padding: 7px 10px 5px 10px;
	margin: 4px 0px 4px 0px;
	min-width: 1px;
	height: 15px;
}

.csui_active {
	border: 2px #2DA9C4 solid;
}


.csui_close {
	float: right;
	cursor: pointer;
}

.csui_minus_icon, 
.csui_plus_icon {
	height: 15px;
	width: 15px;
}

.csui_categories, .csui_suggestions {
	min-height: 20px;
	width: 300px;
	margin-top: 3px;
	margin-bottom: 10px;
}

.csui_categories_outer {
	margin-top: 15px;
}

.csui_suggestion {
	cursor: pointer;
	color: #01769F;
	text-decoration: none;
	display: inline-block;
}


.csui_suggestion:hover {
	text-decoration: underline;
}

.csui_suggestions_outer {
	margin-top: 25px;
}

.csui_font_small {
	font-size: 11px;
}

.csui_final_button {
	margin: 1em;
	text-align: center;
}
