.whvid_cont {
	margin: 10px 0 10px 0;
	min-height: 309px;
	margin-left: auto;
	margin-right: auto;
}

.whvid_cont_mobile {
	width: 240px !important;
	min-height: 135px !important;
}

.vid-whvid, .img-whvid, .altimg-whvid {
	display: none;
}

.whvid_cont_ie {
	width: 480px;
}
